:root {
    --primary-color: #fefefe;
    --secondary-color: #2b2d2e;
    --background: #1e1e1e;
    --grey: #dcdcdc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    background: var(--background);
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
}

.hidden {
    display: none;
}

.fa-house {
    font-size: 20px;
}

a[class~="nav-link"]:hover {
    border-bottom: 3px solid white;
}

.logo {
    width: 70px;
    height: 40px;
}

h1 {
    font-size: 40px;
}

/* About */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/andreas-forsberg-rMdOHpO3h5E-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(50vh + 90px);
    width: 100vw;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    margin-left: 50px;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    text-transform: uppercase;
    padding: 30px 0 30px 0;
    line-height: 50px;
}

.text-primary {
    letter-spacing: 1px;
    margin: 20px 0;
    font-size: 30px;
}

.button {
    width: 140px;
    height: 40px;
    margin: 30px;
    color: var(--primary-color);
    background-color: var(--background);
    border: none;
}

.button:hover {
    transform: scale(1.1);
}

/* Projects */
.wrapper {
    background-color: var(--grey);
    padding-bottom: 30px;
    padding-top: 45px;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}

/* First application */
.project {
    justify-content: space-evenly;
    width: 90%;
    box-shadow: 20px 5px 15px#272b28;
    border-radius: 5px;
    margin: 50px;
    background-color: var(--primary-color);
}

h3 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.text-secondary {
    letter-spacing: 1px;
    font-size: 20px;
    margin: 10px 0;
}

a {
    color: var(--primary-color);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}

a[href$=".com"] {
    color: var(--secondary-color);
    font-size: 20px;
}

.image {
    width: 600px;
    height: 400px;
}

.image:hover {
    transform: scale(1.03);
}

/* Projects */
.container {
    flex-wrap: wrap;
    gap: 40px;
}

.item {
    width: 400px;
    height: 400px;
    box-shadow: 20px 5px 15px#272b28;
    border-radius: 5px;
    padding-top: 20px;
    margin: 10px;
    background-color: var(--primary-color);
}

.item img {
    width: 350px;
    height: 250px;
}

.item:hover {
    transform: scale(1.1);
}

/* Contact form */

.form {
    background: linear-gradient(to top, rgba(145, 144, 142, 0.1) 0%, rgba(145, 144, 142, 0.5) 50%, rgb(145, 144, 142) 100%);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 45px;
}

input {
    width: 400px;
    height: 60px;
    border: 2px solid var(--background);
    border-radius: 5px;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

textarea {
    border-radius: 10px;
    border: 2px solid var(--background);
    border-radius: 10px;
}

/* Footer */
.footer {
    background: var(--grey);
    padding: 10px;
    font-weight: 100;
}

h5 {
    font-weight: 400;
}

.fa-brands {
    padding-bottom: 10px;
}

.fa-brands:hover {
    transform: scale(1.4);
}

/* Responsive disign */
@media screen and (max-width: 992px) {

    /* Header */
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo {
        display: none;
    }

    .hidden {
        display: inline;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
    }

    .nav-link {
        font-size: 13px;
    }

    /* About */
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .hero {
        width: 220px;
        margin: 0px;
    }

    h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .text-primary {
        font-size: 15px;
    }

    /* Projects */
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 15px 0;
    }

    h2 {
        padding: 10px;
    }

    h3 {
        font-size: 18px;
    }

    .text-secondary {
        font-size: 13px;
    }

    .image {
        width: 240px;
        height: 200px;
    }

    .item {
        width: 200px;
        height: 200px;
    }

    .item img {
        width: 80px;
        height: 60px;
    }

    /* Form */
    .form {
        padding-top: 40px;
    }

    .contact h3 {
        font-size: 30px;
    }

    input {
        width: 220px;
        height: 30px;
        margin-bottom: 15px;
        font-size: 13px;
    }

    label {
        font-size: 15px;
        font-weight: 300;
    }

    textarea {
        width: 220px;
    }
}